:root[dark] {
    --efyt-control-bar-background-color: #181825 !important;
    --dimmer-text: #cdd6f4 !important;
    --yt-spec-white-1: #cdd6f4 !important;
    --yt-spec-white-2: #a6adc8 !important;
    --yt-spec-white-3: #bac2de !important;
    --yt-spec-white-4: #b0b8d6 !important;
    --yt-spec-black-1: #7f849c !important;
    --yt-spec-black-2: #6c7086 !important;
    --yt-spec-black-3: #585b70 !important;
    --yt-spec-black-4: #45475a !important;
    --yt-spec-black-pure: #313244 !important;
    --yt-spec-grey-1: #cdd6f4 !important;
    --yt-spec-grey-2: #a6adc8 !important;
    --yt-spec-grey-3: #bac2de !important;
    --yt-spec-grey-4: #9399b2 !important;
    --yt-spec-grey-5: #7f849c !important;
    --yt-brand-youtube-red: #cba6f7 !important;
    --yt-brand-medium-red: #cba6f7 !important;
    --yt-brand-light-red: #cba6f7 !important;
    --yt-spec-red-30: #fab387 !important;
    --yt-spec-red-70: #f38ba8 !important;
    --yt-spec-red-indicator: #cba6f7 !important;
    --yt-spec-pale-blue: #89dceb !important;
    --yt-spec-light-blue: #89dceb !important;
    --yt-spec-dark-blue: #74c7ec !important;
    --yt-spec-navy-blue: #94e2d5 !important;
    --yt-spec-light-green: #a6e3a1 !important;
    --yt-spec-dark-green: #a6e3a1 !important;
    --yt-spec-yellow: #fab387 !important;
    --yt-spec-black-pure-alpha-5: #a6adc8 !important;
    --yt-spec-black-pure-alpha-10: #9399b2 !important;
    --yt-spec-black-pure-alpha-15: rgba(17, 17, 27, 0.85) !important;
    --yt-spec-black-pure-alpha-30: rgba(17, 17, 27, 0.7) !important;
    --yt-spec-black-pure-alpha-60: rgba(17, 17, 27, 0.4) !important;
    --yt-spec-black-pure-alpha-80: rgba(17, 17, 27, 0.2) !important;
    --yt-spec-black-1-alpha-98: rgba(17, 17, 27, 0.02) !important;
    --yt-spec-black-1-alpha-95: rgba(17, 17, 27, 0.05) !important;
    --yt-spec-white-1-alpha-10: rgba(205, 214, 244, 0.1) !important;
    --yt-spec-white-1-alpha-20: rgba(205, 214, 244, 0.2) !important;
    --yt-spec-white-1-alpha-25: rgba(205, 214, 244, 0.25) !important;
    --yt-spec-white-1-alpha-30: rgba(205, 214, 244, 0.3) !important;
    --yt-spec-white-1-alpha-70: rgba(205, 214, 244, 0.7) !important;
    --yt-spec-white-1-alpha-95: rgba(205, 214, 244, 0.95) !important;
    --yt-spec-white-1-alpha-98: rgba(205, 214, 244, 0.98) !important;
    --yt-brand-medium-red-alpha-90: rgba(203, 166, 247, 0.1) !important;
    --yt-brand-medium-red-alpha-30: rgba(203, 166, 247, 0.3) !important;
    --yt-brand-light-red-alpha-30: rgba(203, 166, 247, 0.3) !important;
    --yt-spec-light-blue-alpha-30: rgba(116, 199, 236, 0.3) !important;
    --yt-spec-dark-blue-alpha-30: rgba(116, 199, 236, 0.3) !important;
    --yt-spec-base-background: #1e1e2e !important;
    --yt-spec-raised-background: #1e1e2e !important;
    --yt-spec-menu-background: #181825 !important;
    --yt-spec-inverted-background: #cdd6f4 !important;
    --yt-spec-additive-background: rgba(69, 71, 90, 0.1) !important;
    --yt-spec-outline: #313244 !important;
    --yt-spec-shadow: rgba(17, 17, 27, 0.25) !important;
    --yt-spec-text-primary: #cdd6f4 !important;
    --yt-spec-text-secondary: #a6adc8 !important;
    --yt-spec-text-disabled: #bac2de !important;
    --yt-spec-text-primary-inverse: #11111b !important;
    --yt-spec-call-to-action: #cba6f7 !important;
    --yt-spec-call-to-action-inverse: #cba6f7 !important;
    --yt-spec-suggested-action: rgba(203, 166, 247, 0.8) !important;
    --yt-spec-suggested-action-inverse: #cdd6f4 !important;
    --yt-spec-icon-active-other: #cdd6f4 !important;
    --yt-spec-button-chip-background-hover: #45475a !important;
    --yt-spec-touch-response: #313244 !important;
    --yt-spec-touch-response-inverse: #cba6f7 !important;
    --yt-spec-brand-icon-active: #cba6f7 !important;
    --yt-spec-brand-button-background: #cba6f7 !important;
    --yt-spec-brand-link-text: #74c7ec !important;
    --yt-spec-wordmark-text: #cdd6f4 !important;
    --yt-spec-error-indicator: #f38ba8 !important;
    --yt-spec-themed-blue: #cba6f7 !important;
    --yt-spec-themed-green: #a6e3a1 !important;
    --yt-spec-ad-indicator: #94e2d5 !important;
    --yt-spec-themed-overlay-background: rgba(17, 17, 27, 0.2) !important;
    --yt-spec-commerce-badge-background: #a6e3a1 !important;
    --yt-spec-static-brand-red: #cba6f7 !important;
    --yt-spec-static-brand-white: #cdd6f4 !important;
    --yt-spec-static-brand-black: #1e1e2e !important;
    --yt-spec-static-clear-color: rgba(17, 17, 27, 0) !important;
    --yt-spec-static-clear-black: rgba(17, 17, 27, 0) !important;
    --yt-spec-static-ad-yellow: #fab387 !important;
    --yt-spec-static-grey: #a6adc8 !important;
    --yt-spec-static-overlay-background-solid: #11111b !important;
    --yt-spec-static-overlay-background-heavy: #11111b;
    --yt-spec-static-overlay-background-medium: rgba(17, 17, 27, 0.5) !important;
    --yt-spec-static-overlay-background-medium-light: rgba(17, 17, 27, 0.3) !important;
    --yt-spec-static-overlay-background-light: rgba(17, 17, 27, 0.1) !important;
    --yt-spec-static-overlay-text-primary: #cdd6f4 !important;
    --yt-spec-static-overlay-text-secondary: rgba(166, 173, 200, 0.7) !important;
    --yt-spec-static-overlay-text-disabled: rgba(166, 173, 200, 0.3) !important;
    --yt-spec-static-overlay-call-to-action: #cba6f7 !important;
    --yt-spec-static-overlay-icon-active-other: #11111b !important;
    --yt-spec-static-overlay-icon-inactive: #45475a !important;
    --yt-spec-static-overlay-icon-disabled: #585b70 !important;
    --yt-spec-static-overlay-button-primary: #cba6f7 !important;
    --yt-spec-static-overlay-button-secondary: #313244 !important;
    --yt-spec-static-overlay-touch-response: #7f849c !important;
    --yt-spec-static-overlay-touch-response-inverse: #45475a !important;
    --yt-spec-static-overlay-background-brand: #cba6f7 !important;
    --yt-spec-assistive-feed-themed-gradient-1: #a6adc8 !important;
    --yt-spec-assistive-feed-themed-gradient-2: #b4befe !important;
    --yt-spec-assistive-feed-themed-gradient-3: #f38ba8 !important;
    --yt-spec-brand-background-solid: #1e1e2e !important;
    --yt-spec-brand-background-primary: #1e1e2e !important;
    --yt-spec-brand-background-secondary: #181825 !important;
    --yt-spec-general-background-a: #1e1e2e !important;
    --yt-spec-general-background-b: #1e1e2e !important;
    --yt-spec-general-background-c: #11111b !important;
    --yt-spec-error-background: #1e1e2e !important;
    --yt-spec-10-percent-layer: #45475a !important;
    --yt-spec-snackbar-background: #181825 !important;
    --yt-spec-snackbar-background-updated: #181825 !important;
    --yt-spec-badge-chip-background: #313244 !important;
    --yt-spec-verified-badge-background: #6c7086 !important;
    --yt-spec-call-to-action-fadeoutd: rgba(116, 199, 236, 0.3) !important;
    --yt-spec-call-to-action-hover: #cba6f7 !important;
    --yt-spec-brand-button-background-hover: #cba6f7 !important;
    --yt-spec-brand-link-text-fadeoutd: rgba(203, 166, 247, 0.3) !important;
    --yt-spec-filled-button-focus-outline: #313244 !important;
    --yt-spec-static-overlay-button-hover: #7f849c !important;
    --yt-spec-mono-filled-hover: #45475a !important;
    --yt-spec-commerce-filled-hover: #cba6f7 !important;
    --yt-spec-mono-tonal-hover: #45475a !important;
    --yt-spec-commerce-tonal-hover: #585b70 !important;
    --yt-spec-static-overlay-filled-hover: #7f849c !important;
    --yt-spec-static-overlay-tonal-hover: #45475a !important;
    --yt-spec-paper-tab-ink: rgba(205, 214, 244, 0.3);
    --yt-spec-filled-button-text: #cdd6f4 !important;
    --yt-spec-selected-nav-text: #cdd6f4 !important;
    --iron-icon-fill-color: #cdd6f4 !important;
    --ytd-searchbox-border-color: #313244 !important;
    --ytd-searchbox-legacy-border-color: #313244 !important;
    --ytd-searchbox-legacy-border-shadow-color: rgba(17, 17, 27, 0) !important;
    --ytd-searchbox-legacy-button-color: #181825 !important;
    --ytd-searchbox-legacy-button-border-color: #313244 !important;
    --ytd-searchbox-legacy-button-focus-color: #cba6f7 !important;
    --ytd-searchbox-legacy-button-hover-color: #181825 !important;
    --ytd-searchbox-legacy-button-hover-border-color: #313244 !important;
    --ytd-searchbox-legacy-button-icon-color: #cba6f7 !important;
    --ytd-searchbox-background: #1e1e2e !important;
    --ytd-searchbox-text-color: #cdd6f4 !important;
    --yt-spec-icon-inactive: #cdd6f4 !important;
    --yt-spec-icon-disabled: #7f849c !important;
    --yt-spec-brand-icon-inactive: #9399b2 !important;
    --yt-live-chat-background-color: #1e1e2e !important;
    --yt-live-chat-action-panel-background-color: #1e1e2e !important;
    --yt-live-chat-secondary-background-color: #45475a;
    --yt-live-chat-toast-background-color: #585b70 !important;
    --yt-live-chat-mode-change-background-color: #1e1e2e !important;
    --yt-live-chat-secondary-text-color: #a6adc8 !important;
    --yt-live-chat-tertiary-text-color: rgba(205, 214, 244, 0.54) !important;
    --yt-live-chat-text-input-field-inactive-underline-color: #a6adc8 !important;
    --yt-live-chat-text-input-field-placeholder-color: #a6adc8 !important;
    --yt-live-chat-enabled-send-button-color: #cdd6f4 !important;
    --yt-live-chat-disabled-icon-button-color: #bac2de !important;
    --yt-live-chat-picker-button-hover-color: #cba6f7 !important;
    --yt-live-chat-mention-background-color: #cba6f7 !important;
    --yt-live-chat-mention-text-color: #cdd6f4 !important;
    --yt-live-chat-deleted-message-color: #a6adc8;
    --yt-live-chat-deleted-message-bar-color: #bac2de !important;
    --yt-live-chat-reconnect-message-color: #cdd6f4 !important;
    --yt-live-chat-disabled-button-background-color: #6c7086 !important;
    --yt-live-chat-sub-panel-background-color: #1e1e2e !important;
    --yt-live-chat-sub-panel-background-color-transparent: #181825 !important;
    --yt-live-chat-moderator-color: #b4befe !important;
    --yt-live-chat-owner-color: #fab387 !important;
    --yt-live-chat-message-highlight-background-color: #1e1e2e !important;
    --yt-live-chat-sponsor-color: #a6e3a1 !important;
    --yt-live-chat-overlay-color: rgba(24, 24, 37, 0.5);
    --yt-live-chat-dialog-background-color: #1e1e2e !important;
    --yt-emoji-picker-variant-selector-bg-color: #1e1e2e !important;
    --yt-live-chat-moderation-mode-hover-background-color: rgba(24, 24, 37, 0.3) !important;
    --yt-grey: #a6adc8 !important;
    --yt-live-chat-text-input-field-suggestion-background-color: #a6adc8 !important;
    --yt-live-chat-text-input-field-suggestion-background-color-hover: #bac2de !important;
    --yt-emoji-picker-search-background-color: #313244 !important;
    --yt-emoji-picker-search-color: #cdd6f4 !important;
    --yt-emoji-picker-search-placeholder-color: #cba6f7 !important;
    --yt-live-chat-slider-active-color: #cba6f7 !important;
    --yt-live-chat-slider-container-color: #313244 !important;
    --yt-live-chat-slider-markers-color: #cdd6f4 !important;
    --yt-live-chat-banner-gradient-scrim: linear-gradient(#181825, transparent) !important;
    --yt-live-chat-action-panel-gradient-scrim: linear-gradient(to top, #181825, transparent) !important;
    --yt-live-chat-automod-button-background-color-hover: rgba(17, 17, 27, 0.5) !important;
    --yt-live-chat-automod-button-explanation-color: rgba(203, 166, 247, 0.7) !important;
    --yt-live-chat-shimmer-background-color: rgba(17, 17, 27, 0.4) !important;
    --yt-live-chat-shimmer-linear-gradient: linear-gradient(0deg, rgba(205, 214, 244, 0.1) 40%, rgba(30, 30, 46, 0.3) 50%, rgba(205, 214, 244, 0.1) 60%) !important;
    --yt-live-chat-vem-background-color: #181825 !important;
    --yt-live-chat-product-picker-icon-color: rgba(205, 214, 244, 0.5) !important;
    --yt-live-chat-product-picker-hover-color: #6c7086 !important;
    --yt-live-chat-product-picker-disabled-icon-color: rgba(205, 214, 244, 0.3) !important;
    --yt-live-chat-action-panel-background-color-transparent: null !important;
    --paper-tooltip-background: #6c7086 !important;
    --paper-tooltip-text-color: #cdd6f4 !important;
    --yt-endpoint-color: #cba6f7 !important;
    --yt-endpoint-visited-color: #cba6f7 !important;
    --yt-endpoint-hover-color: #cba6f7 !important;
    --sb-dark-red-outline: #cba6f7 !important;
    --sb-main-bg-color: #1e1e2e !important;
    --sb-main-fg-color: #cdd6f4 !important;
    --sb-grey-bg-color: #1e1e2e !important;
    --sb-grey-fg-color: #a6adc8 !important;
    --sb-red-bg-color: #cba6f7 !important;
    --sb-category-sponsor: #a6e3a1;
    --sb-category-selfpromo: #f9e2af;
    --sb-category-exclusive_access: #94e2d5;
    --sb-category-interaction: #cba6f7;
    --sb-category-poi_highlight: #f5c2e7;
    --sb-category-intro: #89dceb;
    --sb-category-outro: #89b4fa;
    --sb-category-preview: #74c7ec;
    --sb-category-filler: #b4befe;
    --sb-category-music_offtopic: #fab387;
  }
